{
  "swagger": "2.0",
  "paths": {
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "Payload",
            "description": "Request Body",
            "required": false,
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "options": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          },
          {
            "name": "Payload",
            "description": "Request Body",
            "required": false,
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{id}/blogs": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{id}/blogs/{b_id}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          },
          {
            "name": "b_id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{id}/blogs?page\u003d{pageno}\u0026limit\u003d{limit}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          },
          {
            "name": "pageno",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{id}/blogs?search\u003d{param}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          },
          {
            "name": "param",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users?search\u003d{var}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "var",
            "in": "path",
            "allowMultiple": false,
            "required": true,
            "type": "string"
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/{+pathToTenants}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users/15/tenants?search\u003dwso2{.job,doman}": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/users{/id,blog,b_id}/likes": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "info": {
    "title": "apimTest",
    "version": "v2"
  },
  "securityDefinitions": {
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://gateway.api.cloud.wso2.com:443/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "basePath": "/blogs/v1",
  "host": "demo-aviation.ml",
  "schemes": [
    "https",
    "http"
  ]
}

